.mx-margins {
    --min-margin: 50px;
    --max-margin: 350px;
    --screen-width: 100vw;

    margin-left: clamp((var(--screen-width) * 0.15), var(--min-margin), var(--max-margin));
    margin-right: clamp((var(--screen-width) * 0.15), var(--min-margin), var(--max-margin));
}
header{
    text-align: right;
}
h1{
    font-size: 36px;
    margin-bottom: -48px;
    margin-right: 80px;
}
